
  mat-grid-tile {
    margin-top: 5%;
  background:#fafafa;
}
.width-50{width: 49%;}
.ml-1{margin-left: 1%;}
.ml-2{margin-left: 2%;}
.width-100{width: 100%;}
.width-25{width: 25%;}

.welcome{
  font-weight: bold;
  color: rgb(8, 8, 160);
  padding-top: 30px;
  padding-left: 500px;
}