.container{
    display: grid;
    row-gap: 0px;
}

.date{
    padding-left: 25px;
}

.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.rounded-circle {
    border-radius: 50%!important;
}

.img-fluid, .img-thumbnail {
    max-width: 4%;
    height: auto;
}

.image{
    margin-top: -80px;
}


p{
    
    display:inline;
    word-wrap: break-word;
       
}

